@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tomorrow", sans-serif;
}

body,
html {
    overflow-x: hidden;
}

.link {
    text-decoration: none;
}

li {
    list-style: none;
}

ul,
p {
    padding: 0 !important;
    margin: 0 !important;
}

.dp-none {
    display: none !important;
}

.dp-align {
    display: flex;
    align-items: center;
}

.dp-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dp-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-container {
    width: 90%;
    margin: 0 auto;
}


.page-head {
    width: 100%;
    height: 26rem;
    position: relative;
}

.page-head h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5rem;
}

.page-head h2 span {
    color: #FF3131;
}

.page-head .img-block {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-head .img-block img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header */
.header {
    background-color: #000;
    padding: 1rem 0;
}

.header .link {
    color: #fff;
}

.header .logo-block {
    width: 10rem;
}

.header .logo-block img {
    width: 100%;
}

.header .links {
    gap: 1rem;
}

.header .links .red-cricle {
    background-color: #FF3131;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}

.header .menu-bottom .icons {
    padding: 1rem;
}

.header .menu-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.header .menu-bottom .sign-btn {
    text-align: center;
}

.header .menu-bottom,
.header .header-right {
    gap: 2rem;
}

.header .menu-bottom .icon-con,
.header .header-right .icon-con {
    border: 1px solid;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu-bottom .profile .icon-con,
.header .header-right .profile .icon-con {
    background-color: #FF3131;
}

.btn-danger {
    background-color: #FF3131;
}

.header .menu-side .menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 20rem;
    transform: translateX(-100%);
    transition: .5s;
    height: 100vh;
    z-index: 10000;
}

.header .menu-side .menu.active {
    transform: translateX(0);
}

.header .menu-side .menu .menu-con {
    position: relative;
    padding: 1.5rem !important;

}

.header .menu-side .menu .menu-con .close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu-side .menu .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*! Header */
/* Footer */
.footer {
    background-color: #1F1F1F;
    height: auto;
    position: relative;
    width: 100%;
}

.footer .footer-top {
    background-color: #1F1F1F;
    color: #fff;
    padding: 5rem 0;
}

.footer .footer-top .top-con .left .text {
    font-size: 3rem;
    font-weight: 600;
}

.footer .footer-top .top-con .left .text span {
    color: #FF3131;
}

.footer .footer-top .top-con .left .phone-email {
    margin-top: 1rem;
    gap: 2rem;
    font-size: 1.4rem;
}

.footer .footer-top .top-con .left .phone-email .icon {
    color: #FF3131;
}

.footer .footer-top .top-con .left .phone-email .mail-icon {
    font-size: 1.7rem;
}

.footer .footer-top .top-con .left .phone-email .box {
    gap: 1rem;
}

.footer .footer-top .top-con .right {
    gap: 10rem;
    margin-left: 10rem;
}

.footer .footer-top .top-con .right ul li:first-child {
    margin-bottom: 1.5rem;
    color: #fff;
    opacity: 1;
}

.footer .footer-top .top-con .right ul li {
    margin: .5rem 0;
    opacity: .5;
}

.footer .footer-bottom {
    background-color: #000;
    color: #fff;
    padding: 1.5rem 0;
}

.footer .footer-bottom .bottom-con .logo-block {
    width: 9rem;
}

.footer .footer-bottom .bottom-con .logo-block img {
    width: 100%;
}

.footer .footer-bottom .bottom-con .copyright-text {
    font-size: .8rem;
}

.footer .footer-bottom .bottom-con .copyright-text a {
    color: #fff;
}

.footer .footer-bottom .bottom-con .right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer .footer-bottom .bottom-con .right .social-con {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* !Footer */

/* Home */

/* Hero */
.hero {
    width: 100%;
    height: 35.55rem;
    display: flex;
    position: relative;
}

.hero .hero-dropdown {
    width: 20%;
}

.hero .hero-dropdown .head {
    background-color: #FF3131;
    color: #fff;
    padding: .9rem .8rem;
    cursor: pointer;
    width: 100%;
}

.hero .hero-dropdown .head .left {
    gap: .5rem;
}

.hero .hero-dropdown .head .left .menu-icon {
    font-size: 1.5rem;
}

.hero .hero-dropdown .head .arrow-icon {
    font-size: 1.3rem;
}

.hero .hero-dropdown .body .item {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #fff;
    background-color: #000;
    padding: .874rem .6rem;
    cursor: pointer;
}

.hero .hero-dropdown .body .item .icon {
    font-size: 1.2rem;
}

.hero .hero-dropdown .body .item p {
    font-size: .7rem;
}

.hero .hero-slider {
    width: 80%;
    height: 20rem !important;
}

.hero .hero-slider .slick-dots {
    position: absolute;
    top: 40%;
    right: 1rem;
    width: auto;
    height: auto;
    display: flex !important;
    flex-direction: column;
}

.hero .hero-slider .slick-dots .slick-active button:before {
    color: #FF3131;
}

.hero .hero-slider .slick-dots .slick-active button {
    border: 1px solid #FF3131;
    border-radius: 50%;
    position: relative;
}

.hero .hero-slider .slick-dots li button:before {
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .hero-slider .slider-item {
    position: relative;
}

.hero .hero-slider .slider-item .img-block img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hero .hero-slider .slider-item .text-con {
    z-index: 3;
    color: #fff;
    padding: 4rem 2rem;
}

.hero .hero-slider .slider-item .text-con span {
    font-size: 2rem;
}

.hero .hero-slider .slider-item .text-con h1 {
    font-size: 6rem;
}

.hero .hero-slider .slider-item .text-con h1 span {
    font-size: 6rem;
    color: #FF3131;
}

.hero .hero-slider .slider-item .text-con p {
    width: 50%;
}

.hero .hero-slider .slider-item .text-con button {
    margin-top: 2.95rem;
}

.service {
    height: auto;
    background-color: #171717;
    z-index: -1;
}

.service .my-container {
    position: relative;

}

.service .bg-arrows-img img {
    width: 100%;
}

.service .bg-arrows-img .left-img {
    position: absolute;
    left: 0;
    width: 25%;
}

.service .bg-arrows-img .right-img {
    position: absolute;
    right: 0;
    top: 7rem;
    color: #000;
    width: 25%;
    transform: rotate(180deg);
}

.service .service-con {
    padding: 4rem 0;
}

.section-head {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    width: 36%;
    margin: 0 auto;
    font-size: .9rem;
    color: #fff;
    z-index: 2;
}

.section-head h2 {
    font-size: 3rem;
}

.section-head h2 span {
    color: #FF3131;
}

.section-head p {
    margin: 0 auto;
}

.service-page .service-body {
    padding: 5rem 0;
}

.service-body {
    z-index: 2;
    background-color: #171717;
}

.service-body .box {
    text-align: center;
    color: #fff;
}

.service-body .box .icon-block .icon {
    font-size: 3.5rem;
}

.service-body .box .title {
    gap: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.service-body .box .title span:last-child {
    color: #FF3131;
}

/* Products */
.products {
    background-color: #171717;
}

.products .products-body {
    padding: 5rem;
}

.products .products-body .shop-btn {
    padding-top: 4rem;
}

.products .products-body .shop-btn .btn-danger {
    padding: .5rem 2.5rem;
}

.single-card {
    color: #fff;

}

.single-card .category {
    font-size: .9rem;
}

.single-card .price {
    color: #FF3131;
}

.single-card button {
    font-size: .7rem;
}

.single-card .img-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-card .img-block.black {
    padding: 1.5rem;

    background: #000;
    display: flex;
    justify-content: center;
}

.single-card .img-block.black img {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
}

.single-card .img-block img {
    width: 100%;
}

/*! Products */
/* brands */
.brands {
    background-color: #171717;
    padding-bottom: 3rem;
}

.brands .brands-body {
    padding: 3rem 0;
}

.brands .brands-body .box {
    background-color: #fff;
    padding: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

}

.brands .brands-body .box img {
    width: 100%;
}

/* ! brands */
/* campaign */
.campaign {
    background-color: #171717;
}

.campaign .campaign-body .left {
    color: #fff;
    width: 80%;
    padding: 4rem;
    gap: 3rem;
}

.campaign .campaign-body .left .text p {
    font-size: 1.4rem;
    font-weight: 600;
}

.campaign .campaign-body .left .text span {
    color: #FF3131;
}

.campaign .campaign-body .left .time-block {
    gap: 2rem;
}

.campaign .campaign-body .left .time-block .box {
    background-color: #55555580;
    text-align: center;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
}

.campaign .campaign-body .left .time-block .box p {
    font-size: 1.8rem;
    font-weight: 500;
}

.campaign .campaign-body .right {
    background-color: #fff;
}


.campaign .campaign-body .right .img-block img {
    width: 65%;
    margin: 0 auto;
}

.faq {
    background-color: #171717;
    height: 40.55rem;
}

.faq .faq-body .box {
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
    height: 5rem;
    transition: .5s;
    overflow: hidden;
}

.faq .faq-body .box.active {
    height: 13rem;
}

.faq .faq-body .box .btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    width: 2.3rem;
    padding: .1rem;
}

.faq .faq-body .box.active .btn-danger {
    background-color: #FF3131;
    color: #fff;

}

.faq .faq-body .box .btn-danger {
    background-color: rgb(255, 49, 49, 0.1);
    color: #FF3131;
    border: none;
}

.faq .faq-body .box .box-text {
    width: 60%;
    margin: 1rem 0 !important;
}

/* ! campaign */
/* About Page */
.about-page {
    overflow: hidden;
}

.about-page .history {
    padding: 2rem 0;
    background-color: #171717;
    color: #fff;
}

.about-page .history .head {
    text-align: center;
}

.about-page .history .head h3 {
    font-size: 3rem;
    width: 62%;
    margin: 0 auto;
    font-weight: 700;
}

.about-page .history .head h3 span {
    color: #FF3131;
}

.about-page .history .head p {
    margin: 3rem auto !important;
    width: 80%;
}

.about-page .history .body {
    padding: 8rem 0;
    padding-bottom: 0;
}

.about-page .history .body img {
    width: 100%;
    height: 100%;
}

.about-page .history .body .img-two {
    position: relative;
    bottom: 5.7rem;
}

.about-page .history .body .img-three {
    height: 22rem;
}

.about-page .counter {
    background-color: #171717;
    color: #fff;
    padding-bottom: 7rem;
}

.about-page .counter .counts-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-page .counter .counts-con .count-block {
    text-align: center;
    background-color: #000;
    width: 18rem;
    height: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-page .counter .counts-con .count-block .count {
    font-size: 3rem;
    color: #FF3131;
    font-weight: 600;
}

.about-page .counter .counts-con .count-block .count .span {
    color: #fff;
}

.about-page .vision-side {
    background-color: #171717;
    padding-bottom: 7rem;
}

.about-page .vision-side .vision {
    display: flex;
}

.about-page .vision-side .mission {
    display: flex;
}

.about-page .vision-side .box {
    width: 50%;
    color: #fff;
}

.about-page .vision-side .text-con {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-page .vision-side .text-con h3 {
    font-size: 3rem;
    font-weight: 600;
}

.about-page .vision-side .text-con h3 span {
    color: #FF3131;
}

.about-page .vision-side .text-con p {
    width: 70%;
    line-height: 2rem;
    font-size: 1.2rem;
}

.about-page .vision-side img {
    width: 100%;
}

/*! About Page */
/* Product List */
.products .products-con {
    display: flex;
    gap: 5rem;
}

.products .products-left {
    color: #fff;
}

.products .products-left .left-top {
    width: 100%;
    height: 12rem;
}

.products .products-left .left-bottom .filter-text {
    font-size: 1.2rem;
}

.products .products-left .price span {
    color: #FF3131;
}

.products .products-left .category-side .category-con .box .left {
    gap: 1rem;
}

.products .products-left .category-side .category-con .box .left .add-btn {
    width: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.products .products-left .category-side .category-con .box .left .add-btn .minus-icon {
    width: 1.4rem;
    height: .14rem;
    background-color: #FF3131;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.products .products-left .category-side .category-con .box .left .add-btn .plus-icon {
    width: .14rem;
    height: 0;
    background-color: #FF3131;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.products .products-left .category-side .category-con .box .left .add-btn.active .plus-icon {
    height: 1.4rem;
}

.products .slider {
    position: relative;
    width: 200px;
}

.products .slider__track,
.products .slider__range,
.products .slider__left-value,
.products .slider__right-value {
    position: absolute;
}

.products .slider__track,
.products .slider__range {
    border-radius: 3px;
    height: 3px;
}

.products .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
}

.products .slider__range {
    background-color: #FF3131;
    z-index: 2;
}

.products .slider__left-value,
.products .slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
}

.products .slider__left-value {
    left: 6px;
}

.products .slider__right-value {
    right: -4px;
}

.products .thumb,
.products .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.products .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}

.products .thumb--left {
    z-index: 3;
}

.products .thumb--right {
    z-index: 4;
}

.products .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.products .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.products .products-right {
    width: 100%;
}

.products .products-right .right-top {
    height: 10rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.products .products-right .right-top .top-con {
    display: flex;
    justify-content: space-between;
}

.products .products-right .right-top .products-count p {
    color: #fff;
}

.products .products-right .right-top .products-count p span {
    color: #FF3131;
}

.products .products-right .right-top .search-sort {
    gap: 3rem;
}

.products .products-right .right-top .search-sort .sort {
    position: relative;
}

.products .products-right .right-top .search-sort .sort .head {
    height: 3rem;
    cursor: pointer;
    border-radius: .2rem;
    overflow: hidden;
}

.products .products-right .right-top .search-sort .sort .head p {
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem !important;
    padding-left: 1rem !important;
    font-size: .9rem;
}

.products .products-right .right-top .search-sort .search .search-icon,
.products .products-right .right-top .search-sort .sort .head .arrow {
    height: 100%;
    background-color: #FF3131;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    cursor: pointer;
}

.products .products-right .right-top .search-sort .sort .body {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    margin-top: .2rem;
    border-radius: .2rem;
}

.products .products-right .right-top .search-sort .sort .body.active {
    display: block;
}

.products .products-right .right-top .search-sort .sort .body p {
    padding: .5rem !important;
    padding-left: 1rem !important;
}

.products .products-right .right-top .search-sort .sort .body p:hover {
    background-color: #ced4da;
    cursor: pointer;
}

.products .products-right .right-top .search-sort .search {
    height: 3rem;
}

.products .products-right .right-top .search-sort .search input {
    height: 100%;
    outline: none;
    font-size: .9rem;
    padding-left: 1rem;
}

.products .products-right .right-top .search-sort .search input::placeholder {
    font-size: .9rem;
    color: #000;
}

.products .products-right .right-bottom .product-card {
    padding: 2rem;
    padding-bottom: 1rem;
    color: #fff;
}

.products .products-right .right-bottom .product-card .img-block {
    position: relative;
}

.products .products-right .right-bottom .product-card .img-block .add-to-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: rgb(255, 49, 49, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.products .products-right .right-bottom .product-card .img-block:hover .add-to-card {
    width: 100%;
    height: 100%;
}

.products .products-right .right-bottom .product-card .img-block .add-to-card button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.products .products-right .right-bottom .product-card .img-block .add-to-card button .icon {
    font-size: 1.2rem;
}

.products .products-right .right-bottom .product-card .img-block img {
    width: 100%;
}

.products .products-right .right-bottom .product-card .title {
    margin: .5rem 0 !important;
}

.products .products-right .right-bottom .product-card .category {
    margin-bottom: .5rem !important;
}

.products .products-right .right-bottom .product-card .price {
    color: #FF3131;
}

/* ! Product List */
/* Responsive  */
@media (max-width:1200px) {
    .container {
        width: 1160px !important;
    }

    .rp-none {
        display: none !important;
    }

    .dp-none {
        display: block !important;
    }

    .hero .hero-slider {
        width: 100%;
    }

    .about-page .history .body .img-two {
        position: relative;
        bottom: 5rem;
    }

    .about-page .history .body .img-three {
        height: 20rem;
        object-fit: cover;
    }

    .products .products-left .left-bottom {
        display: none;
    }


    .products .products-con {
        gap: .5rem;
    }

    .products .products-con .products-left {
        display: none;
    }

    .products .products-right .right-top .top-con {
        align-items: center;
    }

    .products .products-right .right-top .products-count p {
        display: none;
    }
}

@media (max-width:992px) {
    .hero {
        height: 27rem;
    }

    .hero .hero-slider .slider-item .text-con {
        padding: 2rem 2rem;
    }

    .hero .hero-slider .slider-item .text-con span {
        font-size: 1.4rem;
    }

    .hero .hero-slider .slider-item .text-con h1 {
        font-size: 5rem;
    }

    .hero .hero-slider .slider-item .text-con h1 span {
        font-size: 5rem;
    }

    .hero .hero-slider .slider-item .text-con p {
        width: 70%;
    }

    .service {
        height: auto;
    }

    .section-head {
        width: 80%;
    }

    .about-page .history .body .img-two {
        position: relative;
        bottom: 5rem;
    }

    .about-page .history .body .img-three {
        height: 14rem;
        object-fit: cover;
    }

    .about-page .counter .counts-con {
        justify-content: center;
    }

}

@media (max-width:900px) {
    .hero {
        height: 28.5rem;
    }

    .campaign .campaign-body {
        flex-direction: column;
    }

    .campaign .campaign-body .left {
        flex-direction: column;
    }

    .faq {
        background-color: #171717;
        height: auto;
    }

    .footer .footer-bottom .bottom-con {
        flex-direction: column;
    }

    .footer .footer-bottom .bottom-con .right {
        flex-direction: column;
    }

    .footer .footer-top .top-con .left .text {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }

    .footer .footer-top .top-con .left .phone-email {
        flex-direction: column;
        align-items: flex-start;
    }

    .faq {
        background-color: #171717;
        height: auto;
    }

    .footer .footer-top .top-con .right {
        margin-left: 0;
        gap: 4rem;
    }

    .about-page .vision-side .vision {
        display: flex;
        flex-direction: column;
    }

    .about-page .vision-side .mission {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-page .vision-side .box {
        width: 100%;
        color: #fff;
    }

    .about-page .vision-side .text-con {
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }

    .products .products-right .right-top .search-sort {
        gap: 1rem;
    }

    .products .products-right .right-top .search-sort .sort .head {
        height: 2.4rem;
    }

    .products .products-right .right-top .search-sort .sort .head p {
        font-size: .8rem;
        padding-right: 2.5rem !important;
    }

    .products .products-right .right-top .search-sort .search .search-icon,
    .products .products-right .right-top .search-sort .sort .head .arrow {
        font-size: .9rem;
    }

    .products .products-right .right-top .search-sort .sort .body p {
        font-size: .8rem
    }
    .products .products-right .right-top .search-sort .search {
        height: 2.4rem;
    }
}

@media (max-width:576px) {
    .section-head h2 {
        font-size: 2.5rem;
    }

    .page-head {
        height: 15rem;
    }

    .page-head h2 {
        font-size: 1.9rem;
    }

    .hero {
        height: auto;
    }

    .header .logo-block {
        width: 5rem;
    }

    .header .menu-side .menu {
        width: 100%;
    }

    .hero .hero-slider {
        height: auto !important;
    }

    .hero .hero-slider .slider-item {
        text-align: center;
    }

    .hero .hero-slider .slider-item .text-con {
        padding: 1rem 2rem;
    }

    .hero .hero-slider .slider-item .text-con span {
        font-size: 1rem;
    }

    .hero .hero-slider .slider-item .text-con h1 {
        font-size: 3rem;
    }

    .hero .hero-slider .slider-item .text-con h1 span {
        font-size: 3rem;
    }

    .hero .hero-slider .slider-item .text-con p {
        width: 100%;
        font-size: .9rem;
    }

    .hero .hero-slider .slider-item .text-con button {
        margin-top: 1rem;
    }

    .hero .hero-slider .slick-dots {
        display: none !important;
    }

    .products .products-body {
        padding: 1rem;
    }

    .brands .brands-body .box {
        margin: 0 auto;
        padding: 4rem;
        width: 60%;
    }

    .campaign .campaign-body .left .time-block {
        gap: 1rem;
    }

    .campaign .campaign-body .left .text {
        text-align: center;
    }

    .campaign .campaign-body .left .text p {
        font-size: 1.7rem;
    }

    .campaign .campaign-body .left .text span {
        font-size: 1.1rem;
    }

    .campaign .campaign-body .left .time-block .box {
        width: 5rem;
        height: 5rem;
    }

    .campaign .campaign-body .left .time-block .box p {
        font-size: 1.6rem;
    }

    .faq .row .col-12:last-child {
        position: relative;
        bottom: 1rem;
    }

    .faq .faq-body .box.active {
        height: 11.4rem;
    }

    .faq .faq-body .box .box-text {
        width: 100%;
    }

    .about-page .counter .counts-con {
        justify-content: flex-start;
    }

    .about-page .counter .counts-con .count-block {
        width: 44%;
        margin: 0 auto;
    }

    .about-page .history .body .img-three {
        height: 16rem;
        object-fit: cover;
    }

    .about-page .history .head h3 {
        width: 82%;
        font-size: 2.1rem;
    }

    .about-page .history .head p {
        width: 100%;
    }

    .about-page .counter .counts-con .count-block .count {
        font-size: 2.5rem;
    }

    .about-page .vision-side .text-con {
        padding: 1rem 0;
    }

    .about-page .vision-side .text-con h3 {
        font-size: 2rem;
    }

    .about-page .vision-side .text-con p {
        font-size: .8rem;
        width: 80%;
    }

    .about-page .vision-side {
        padding-bottom: 0;
    }

    .products .products-right .right-top .top-con  {
        gap: 1rem;
    }
    .products .products-right .right-top .search-sort .sort .head p{
        padding-right: 1rem !important;
        font-size: .7rem;
        width: 9rem;
    }
    .products .products-right .right-top .search-sort .search input{
        width: 9rem;
    }
    .products .products-right .right-top .search-sort .search input::placeholder{
        font-size: .7rem;
    }
}

@media (max-width:510px) {
    .page-head h2 {
        font-size: 1.6rem;
    }
    
    .products .products-right .right-top .search-sort .sort .head p{
        padding-right: 0 !important;
        font-size: .7rem;
        width: 8rem;
    }
    .products .products-right .right-top .search-sort .search input{
        width: 8rem;
    }
    .products .products-right .right-top .search-sort .search .search-icon, 
    .products .products-right .right-top .search-sort .sort .head .arrow {
        width: 2rem;
    }
    .products .products-right .right-top .search-sort .sort .head {
        height: 2rem;
    }
    .products .products-right .right-top .search-sort .search {
        height: 2rem;
    }

    .products .products-right .right-bottom .product-card{
        padding: 0;
        padding-bottom: .5rem;
    }

}
@media (max-width:460px) {
    .page-head h2 {
        font-size: 1.6rem;
    }
    .products .products-right .right-top .search-sort .search input{
        display: flex;
        align-items: center;
        width: 7rem;
        padding-left: .5rem;
    }
    .products .products-right .right-top .search-sort .sort .head p{
        font-size: .6rem;
        width: 7rem;
        padding-left: .5rem !important;
    }
    .products .products-right .right-top .search-sort .search input::placeholder {
        font-size: .6rem;
    }
    .products .products-right .right-top .search-sort .sort .head {
        height: 1.7rem;
    }
    .products .products-right .right-top .search-sort .search {
        height: 1.7rem;
    }

}
@media (max-width:417px) {
    .page-head h2 {
        font-size: 1.4rem;
    }
}

@media (max-width:400px) {
    .page-head h2 {
        font-size: 1.4rem;
    }
}

@media (max-width:370px) {
    .hero {
        height: 21rem;
    }

    .page-head h2 {
        font-size: 1.4rem;
    }
    .products .products-right .right-top .search-sort .search input{
        display: flex;
        align-items: center;
        width: 6rem;
        padding-left: .2rem;
        padding-bottom: .3rem;
    }
    .products .products-right .right-top .search-sort .sort .head p{
        font-size: .55rem;
        width: 6rem;
        padding-left: .2rem !important;
    }
    .products .products-right .right-top .top-con{
        gap: .5rem;
    }
    .products .products-right .right-top .products-count .category-menu-btn{
        width: 1.5rem;
    }
    .products .products-right .right-top .search-sort .search input::placeholder {
        font-size: .55rem;
        
    }
    .products .products-right .right-top .search-sort .sort .head {
        height: 1.5rem;
    }
    .products .products-right .right-top .search-sort .search {
        height: 1.5rem;
    }
    .products .products-right .right-top .search-sort .search .search-icon, 
    .products .products-right .right-top .search-sort .sort .head .arrow {
        width: 1.5rem;
    }
    .products .products-right .right-top{
        height: 7rem;
    }
}

/*! Responsive  */